.lastOrder {
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    padding: 15px;
    border-radius: 10px;
}

.avatar img {
    border-radius: 10px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    font-weight: bold;
}

.store {
    font-size: 0.9rem;
    color: #7c7c7c;
}

.priceContainer {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: right;
}

.price {
    font-weight: bold;
}

.status {
    font-size: 0.9rem;
}