.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
}

.pageHeader {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    align-items: center;

    svg {
        font-size: 1.3rem;
        cursor: pointer;
        color: black;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.text, .points {
    font-size: 1.6rem;
    color: white;
}

.points {
    color: #baba5d;
    font-weight: bold;
}

.textContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.banner {
    padding: 15px 20px 15px 20px;
    height: 180px;
    gap: 15px;
    display: flex;
    flex-direction: row;
    background: linear-gradient(
            to left, #7e5b1c 40%, #6c3d06
    );

    img {
        border-radius: 10px;
        margin-left: auto;
        display: flex;
        align-self: center;
    }

    span {
        margin-top: auto;
        color: white;
        font-size: 0.8rem;
    }

}

.rewardsInfo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;

    h2 {
        display: block;
    }
}

.content {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #aa7f43;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.textInfo {
    text-align: center;
    font-size: 0.8rem;
    width: 100%;
    color: #5c3636;
}

.rewardsMainText {
    font-weight: bold;
    text-align: center;
    font-size: 0.9rem;
}


.rewards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item {
    display: flex;
    background: white;
    padding: 20px;
    border-radius: 10px;

    button {
        border-radius: 5px;
        padding: 10px 20px 10px 20px;
        background: white;
        margin-left: auto;
        border: none;
        font-weight: bold;
        cursor: pointer;
        outline: 1px solid #959595;

        &:hover {
          background: #efefef;
        }
    }
}

.rewardsContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infoItem {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p:nth-child(1) {
        font-weight: bold;
    }

    p:nth-child(2) {
        font-size: 0.9rem;
    }
}

@media (max-width: 355px) {
    .container {
        padding: 10px;
    }

    .content {
        flex-direction: column;
    }

    .banner {
        img {
            display: none;
        }
    }
}

@media (min-width: 48rem) {


    .content {
        flex-direction: row;
    }
}