.searchContainer {
    grid-area: search;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.searchContent {
    position: relative;
}

.searchContainer input {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 25px;
    border-radius: 5px;
    outline: none;
    border: 2px solid #a1a1a1;
}

.searchContainer svg {
    position: absolute;
    top: 12px;
    left: 4px;
    height: 15px;
}